[Unit]
Description=765 Production Cover Bot
After=network.target

[Service]
Type=simple
Restart=always
User=root
WorkingDirectory=/usr/local/bin/765coverbot
ExecStart=/usr/local/bin/765coverbot/765cover.sh

[Install]
WantedBy=multi-user.target
