[Unit]
Description=765 Production Cover Bot
After=network.target

[Service]
Type=simple
Restart=always
User=root
ExecStart=/usr/local/bin/765cover/765cover.sh

[Install]
WantedBy=multi-user.target
